{{ define "main" }}
<article class="content-article">
  <header class="content-article__header">
    <h1>{{ .Title }}</h1>
    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    <p class="content-article__meta">
      <time datetime="{{ $dateMachine }}">{{ .Date.Format "2006-01-02" }}</time>
      {{ with .Params.author }} · <span>{{ . }}</span>{{ end }} ·
      <span>{{ .WordCount }}</span>
    </p>
  </header>
  <div class="content-article__body">{{ .Content }}</div>
  <footer class="content-article__footer">
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    <nav class="post-nav" aria-label="Post navigation">
      {{ with .PrevInSection }}
      <a class="post-nav__item prev" href="{{ .RelPermalink }}"
        >&larr; {{ .Title }}</a
      >
      {{ end }} {{ with .NextInSection }}
      <a class="post-nav__item next" href="{{ .RelPermalink }}"
        >{{ .Title }} &rarr;</a
      >
      {{ end }}
    </nav>
  </footer>
</article>
{{ end }}
